.range-wrap {
  width: 50%;
  position: relative;
}

.range {
  width: 50%;
}

.bubble {
  background: green;
  color: white;
  padding: 4px 8px;
  position: absolute;
  border-radius: 4px;
  transform: translatex(-50%);
}

.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: black;
  top: -1px;
  left: 50%;
  transform: translatex(-50%);
}