body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 2rem;
  background-image: url("https://images.pexels.com/photos/4008708/pexels-photo-4008708.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}


.siteWrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo {
  size: 300%;
 }

.question{
  font-family: 'Recursive', sans-serif;
  color: #15d;
}

.form-container{
  background-color: white;
  padding: .5em;
  width: 50%;
}

.form-body {
  text-align: left;
}

.next {
  background-color:#6dbe45;
  color: white;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.button:hover {
  background-color:#3e7160;
  color: black;
}