body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.siteWrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.logo {
  size: 300%;
  margin: 2em;
 }

 .video-container{
   display: flex;
   flex-direction: column;
   width: 60vw;
   align-self: center;
   padding-bottom: 5%;
 }

 .vid{
   align-self: center;
   width: 20rem;
   padding: 5%;
 }

 button{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
   padding: 1rem;
   width: 10rem;
   align-self: center;
 }

 .middle{
  background-color: lightskyblue;
  padding-bottom: 5%;
 }

 .multi-tab{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
  max-height: 35vh;
 }

 .multi-tab > .tab{
  margin: 1em;
  flex-basis: 0;
  padding: 1em 0;
  text-align: center;
  /*border: .15em solid #FCFEF1;*/
  color: #222491;
  font-size: 1.5em;
 }

 .words {
   font-size: 1rem;
 }

.wordz{
  font-size: 1.3rem;
  padding: 0 10%;
  text-align: left;
}

.container{
 display: flex;
 flex-direction: column;
}

.next {
  background-color:#6dbe45;
  color: white;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.button:hover {
  background-color:#3e7160;
  color: white;
}

.end {
  padding-bottom: 5%;
}

.footerText {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  background: #222491;
  color: #FAC7F8;
  height: 2.5rem;
  font-size: 1rem;
  width: 100%;
  justify-content: center;
  align-content: center;
  padding: .5rem 0 .8rem 0;
}

@media (min-width: 1281px) {
  
  .wordz{
    text-align: center;
  }
  
}
