body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: white;
  padding: 0%;
  margin: 0%;
}

.siteWrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo {
  size: 300%;
  margin: 2em;
 }

.question{
  font-weight: bold;
  color: #15d;
}

.form-container{
  padding: .5em;
  margin: 2em;
  height: 50%;
  width: 40%;
  border-radius: 1em;
  align-content: space-between;
}

.form-body {
  display: flex;
  flex-direction: column;
  text-align: left; 
  justify-content: center;
  padding: 2rem;
}

.container{
 display: flex;
 flex-direction: column;
 padding: 1rem 1rem 1rem 0;

}

.next {
  background-color:#6dbe45;
  color: white;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.button:hover {
  background-color:#3e7160;
  color: black;
}