body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 2rem;
  background-image: url("https://images.pexels.com/photos/4008708/pexels-photo-4008708.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.siteWrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo {
  size: 300%;
 }

.question{
  font-weight: bold;
  color: #15d;
}

.form-container{
  background-color: white;
  padding: .5em;
  height: 50%;
  width: 40%;
  border-radius: 1em;
  align-content: space-between;
}

.form-body {
  display: flex;
  flex-direction: column;
  text-align: left; 
  justify-content: space-evenly;
  padding: 2rem;
}

.dropdown-container{
 display: flex;
 flex-direction: column;
 padding: 1rem 1rem 1rem 0;
 width: 50%;
}

.next {
  background-color:#6dbe45;
  color: white;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.button:hover {
  background-color:#3e7160;
  color: black;
}